* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn {
  position: absolute;
  left: 0;
}
.header {
  color: #ffffff;
  font-size: large;
}
.history {
  height: 234px;
  border: none;
  overflow: auto;
  background: none;
  justify-content: end;
  margin: 2%;
}
.tag {
  background-color: #282c34;

  position: sticky;
  top: 0;
  z-index: 1;
}
.log-ove {
  border-left: oldlace;
  overflow: auto;
}
.message-text {
  white-space: pre-line;
  color: white;
  font-size: 12pt;
  align-self: center;
}
.input-container {
  margin: 2%;
}
.list-group-numb {
  width: 200px;
  font-size: smaller;
  color: black;
  border: none;
}
.App-module {
  background-image: url("./assestImgs/imgPhone.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  /* display: grid;

  grid-gap: 7rem;
  padding: 0 2rem;

  font-size: calc(10px + 2vmin); */
  color: white;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.mutedText {
  font-size: 10px;
  opacity: 75%;
  color: antiquewhite;
  text-align: start;
}
.img img {
  width: 500px;
}
.message-container {
  height: 300px;
  overflow: auto;
}
form {
  width: 500px;
}
form h2 {
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 15px 0;
  color: #f2f2f2;
}
.input-div {
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 100px 0;
  padding: 20px 0;
  border: none;
  border-radius: %;
  position: relative;
}
.input-div.one {
  margin-top: 0;
}
.input-div.two {
  margin-bottom: 4px;
}
/* .i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i i {
  color: #ffffff;
} */
.input-div > div {
  position: relative;
  height: 45px;
}
.textarea {
  position: absolute;
  height: 150px;
  width: 100%;
  border-radius: 10%;
  border: none;
  background: none;
  color: #ffffff;
}
.input-div > div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;

  transition: 0.3s;
}
.input {
  position: absolute;

  width: 100%;
  height: 100%;
  right: 15px;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.8rem;
  color: #ffffff;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
